@page "/"

<fieldset>
<legend>导航</legend>

<fieldset>
  <legend>Fundamentals</legend>

  <div>
    <a href="/docs/fundamentals/routing/route-parameters/amazing">/docs/fundamentals/routing/route-parameters/amazing</a>
  </div>

  <div>
    <a href="/docs/fundamentals/routing/route-constraints/666">/docs/fundamentals/routing/route-constraints/666</a>
    <br>
    <a href="/docs/fundamentals/routing/route-constraints/foo">/docs/fundamentals/routing/route-constraints/foo</a>
  </div>

  <div>
    <a href="/docs/fundamentals/routing/catch-all-route-parameters/a">/docs/fundamentals/routing/catch-all-route-parameters/a</a>
  </div>

  <div>
    <a href="/docs/fundamentals/routing/uri-and-navigation-state-helpers">/docs/fundamentals/routing/uri-and-navigation-state-helpers</a>
  </div>

  <div>
    <a href="/docs/fundamentals/routing/query-string-and-parse-parameters?name=luotao&age=18">/docs/fundamentals/routing/query-string-and-parse-parameters?name=luotao&amp;age=18</a>
  </div>

  <div>
    <a href="/docs/fundamentals/configuration/app-settings-configuration">/docs/fundamentals/configuration/app-settings-configuration</a>
  </div>

  <div>
    <a href="/docs/fundamentals/dependency-injection/default-services">/docs/fundamentals/dependency-injection/default-services</a>
  </div>
  <div>
    <a href="/docs/fundamentals/dependency-injection/use-di-in-services">/docs/fundamentals/dependency-injection/use-di-in-services</a>
  </div>

  <div>
    <a href="/docs/fundamentals/dependency-injection/utility-base-component-classes-to-manage-a-di-scope">/docs/fundamentals/dependency-injection/utility-base-component-classes-to-manage-a-di-scope</a>
  </div>

  <div>
    <a href="/docs/fundamentals/environments/set-the-environment-via-header">/docs/fundamentals/environments/set-the-environment-via-header</a>
  </div>

  <div>
    <a href="/docs/fundamentals/logging/log-in-razor-components">/docs/fundamentals/logging/log-in-razor-components</a>
  </div>
  <div>
    <a href="/docs/fundamentals/handle-errors/global-exception-handling">/docs/fundamentals/handle-errors/global-exception-handling</a>
  </div>
  <div>
    <a href="/docs/fundamentals/handle-errors/places-where-errors-may-occur">/docs/fundamentals/handle-errors/places-where-errors-may-occur</a>
  </div>

</fieldset>

<fieldset>
  <legend>Components</legend>

  <fieldset>
    <legend>Overview</legend>

    <div>
      <a href="/docs/components/nested-components">/docs/components/nested-components</a>
      <br>
      <a href="/docs/components/nested-components/heading/通过路由访问">/docs/components/nested-components/heading/通过路由访问</a>
    </div>
    <div>
      <a href="/docs/components/partial-class-support">/docs/components/partial-class-support</a>
    </div>
    <div>
      <a href="/docs/components/specify-a-base-class">/docs/components/specify-a-base-class</a>
    </div>
    <div>
      <a href="/docs/components/component-parameters">/docs/components/component-parameters</a>
    </div>
    <div>
      <a href="/docs/components/route-parameters/luotao/18">/docs/components/route-parameters/luotao/18</a>
    </div>
    <div>
      <a href="/docs/components/overwritten-parameters">/docs/components/overwritten-parameters</a>
    </div>
    <div>
      <a href="/docs/components/child-content">/docs/components/child-content</a>
    </div>
    <div>
      <a href="/docs/components/attribute-splatting-and-arbitrary-parameters">/docs/components/attribute-splatting-and-arbitrary-parameters</a>
    </div>
    <div>
      <a href="/docs/components/capture-references-to-components">/docs/components/capture-references-to-components</a>
    </div>
    <div>
      <a href="/docs/components/invoke-component-methods-externally-to-update-state">/docs/components/invoke-component-methods-externally-to-update-state</a>
    </div>
    <div>
      <a href="/docs/components/use-key-to-control-the-preservation-of-elements-and-components">/docs/components/use-key-to-control-the-preservation-of-elements-and-components</a>
    </div>
    <div>
      <a href="/docs/components/when-to-use-key">/docs/components/when-to-use-key</a>
    </div>
    <div>
      <a href="/docs/components/raw-html">/docs/components/raw-html</a>
    </div>
    <div>
      <a href="/docs/components/razor-templates">/docs/components/razor-templates</a>
    </div>
  </fieldset>

  <fieldset>
    <legend>Layouts</legend>

    <div>
      <a href="/docs/components/layouts/create-a-layout-component">/docs/components/layouts/create-a-layout-component</a>
    </div>
    <div>
      <a href="/docs/components/layouts/apply-a-layout">/docs/components/layouts/apply-a-layout</a>
    </div>

  </fieldset>

  <fieldset>
    <legend>cascading-values-and-parameters</legend>

    <div>
      <a href="/docs/components/cascading-values-and-parameters/cascadingvalue-component">/docs/components/cascading-values-and-parameters/cascadingvalue-component</a>
    </div>
    <div>
      <a href="/docs/components/cascading-values-and-parameters/cascade-multiple-values">/docs/components/cascading-values-and-parameters/cascade-multiple-values</a>
    </div>
  </fieldset>

  <fieldset>
    <legend>data-binding</legend>

    <div>
      <a href="/docs/components/data-binding">/docs/components/data-binding</a>
    </div>
    <div>
      <a href="/docs/components/data-binding/binding-select-element-options-to-c-object-null-values">/docs/components/data-binding/binding-select-element-options-to-c-object-null-values</a>
    </div>
    <div>
      <a href="/docs/components/data-binding/unparsable-values">/docs/components/data-binding/unparsable-values</a>
    </div>
    <div>
      <a href="/docs/components/data-binding/format-strings">/docs/components/data-binding/format-strings</a>
    </div>
    <div>
      <a href="/docs/components/data-binding/custom-binding-formats">/docs/components/data-binding/custom-binding-formats</a>
    </div>
    <div>
      <a href="/docs/components/data-binding/binding-with-component-parameters">/docs/components/data-binding/binding-with-component-parameters</a>
    </div>
    <div>
      <a href="/docs/components/data-binding/bind-across-more-than-two-components">/docs/components/data-binding/bind-across-more-than-two-components</a>
    </div>
  </fieldset>

  <fieldset >
    <legend>event-handling</legend>

    <div>
      <a href="/docs/components/event-handling">/docs/components/event-handling</a>
    </div>
    <div>
      <a href="/docs/components/event-handling/lambda-expressions">/docs/components/event-handling/lambda-expressions</a>
    </div>
    <div>
      <a href="/docs/components/event-handling/eventcallback">/docs/components/event-handling/eventcallback</a>
    </div>
    <div>
      <a href="/docs/components/event-handling/prevent-default-actions">/docs/components/event-handling/prevent-default-actions</a>
    </div>
    <div>
      <a href="/docs/components/event-handling/stop-event-propagation">/docs/components/event-handling/stop-event-propagation</a>
    </div>
    <div>
      <a href="/docs/components/event-handling/focus-an-element">/docs/components/event-handling/focus-an-element</a>
    </div>
  </fieldset>

  <fieldset >
    <legend>lifecycle</legend>

    <div>
      <a href="/docs/components/lifecycle/when-parameters-are-set-setparametersasync/luotao">/docs/components/lifecycle/when-parameters-are-set-setparametersasync</a>
    </div>
    <div>
      <a href="/docs/components/lifecycle/component-initialization-oninitializedasync">/docs/components/lifecycle/component-initialization-oninitializedasync</a>
    </div>
    <div>
      <a href="/docs/components/lifecycle/after-parameters-are-set-onparameterssetasync">/docs/components/lifecycle/after-parameters-are-set-onparameterssetasync</a>
    </div>
    <div>
      <a href="/docs/components/lifecycle/after-component-render-onafterrenderasync">/docs/components/lifecycle/after-component-render-onafterrenderasync</a>
    </div>
    <div>
      <a href="/docs/components/lifecycle/handle-incomplete-async-actions-at-render">/docs/components/lifecycle/handle-incomplete-async-actions-at-render</a>
    </div>
    <div>
      <a href="/docs/components/lifecycle/cancelable-background-work">/docs/components/lifecycle/cancelable-background-work</a>
    </div>
  </fieldset>

  <div>
    <a href="/docs/components/rendering/rendering-conventions-for-componentbase">/docs/components/rendering/rendering-conventions-for-componentbase</a>
  </div>
  <div>
    <a href="/docs/components/rendering/suppress-ui-refreshing-shouldrender">/docs/components/rendering/suppress-ui-refreshing-shouldrender</a>
  </div>
  <div>
    <a href="/docs/components/rendering/an-asynchronous-handler-involves-multiple-asynchronous-phases">/docs/components/rendering/an-asynchronous-handler-involves-multiple-asynchronous-phases</a>
  </div>
  <div>
    <a href="/docs/components/virtualization">/docs/components/virtualization</a>
  </div>
  <div>
    <a href="/docs/components/templated-components">/docs/components/templated-components</a>
  </div>
  <div>
    <a href="/docs/components/css-isolation">/docs/components/css-isolation</a>
  </div>
  <div>
    <a href="/docs/components/class-libraries/consume-a-razor-component-from-an-rcl">/docs/components/class-libraries/consume-a-razor-component-from-an-rcl</a>
  </div>
</fieldset>

<div>
  <a href="/docs/globalization-localization/localization">/docs/globalization-localization/localization</a>
</div>
<div>
  <a href="/docs/aspnet/core/fundamentals/localization/make-the-apps-content-localizable-2">/docs/aspnet/core/fundamentals/localization/make-the-apps-content-localizable-2</a>
</div>
<div>
  <a href="/docs/forms-validation">/docs/forms-validation</a>
</div>
<div>
  <a href="/docs/forms-validation/example-form">/docs/forms-validation/example-form</a>
</div>
<div>
  <a href="/docs/forms-validation/basic-validation">/docs/forms-validation/basic-validation</a>
</div>
</fieldset>
