<!--
https://docs.microsoft.com/en-us/aspnet/core/blazor/fundamentals/handle-errors?view=aspnetcore-5.0&pivots=webassembly#global-exception-handling
-->

@page "/docs/fundamentals/handle-errors/global-exception-handling"
@using Microsoft.Extensions.Logging
@inject ILogger<GlobalExceptionHandling> logger;

<button @onclick="OnClick">throw exception</button>

@code {

  [CascadingParameter]
  public Error? Error { get; set; }

  protected override void OnInitialized()
  {
  }

  private void OnClick()
  {
    Error?.ProcessError(new Exception("0000"));
  }

}
