<div style="border:1px solid red;margin: 12px;padding: 12px;">@Header</div>

<div style="border:1px solid blue;margin: 12px;padding: 12px;">@ChildContent</div>

<div style="border:1px solid green;margin: 12px;padding: 12px;">@Footer</div>
