<fieldset>
  <legend></legend>

  <div>直接使用 lambda 作为事件处理函数, 这样就可以传递额外的参数.</div>

  @for (int i = 1; i <= 3; i++)
  {
    var index = i;
    <Button Type="primary" OnClick="@(e => OnClick(e, index))">@index</Button>
  }

</fieldset>
