@page "/"

<fieldset>
  <legend>链接</legend>

  <a href="/docs/fundamentals/routing/route-parameters/amazing">/docs/fundamentals/routing/route-parameters/amazing</a>
</fieldset>

<SurveyPrompt Title="How is Blazor working for you?"/>
