@page "/"

<fieldset>
  <legend>链接</legend>

  <div>
    <a href="/docs/fundamentals/routing/route-parameters/amazing">/docs/fundamentals/routing/route-parameters/amazing</a>
  </div>

  <div>
    <a href="/docs/fundamentals/routing/route-constraints/666">/docs/fundamentals/routing/route-constraints/666</a>
    <br>
    <a href="/docs/fundamentals/routing/route-constraints/foo">/docs/fundamentals/routing/route-constraints/foo</a>
  </div>

  <div>
    <a href="/docs/fundamentals/routing/catch-all-route-parameters/a">/docs/fundamentals/routing/catch-all-route-parameters/a</a>
  </div>

  <div>
    <a href="/docs/fundamentals/routing/uri-and-navigation-state-helpers">/docs/fundamentals/routing/uri-and-navigation-state-helpers</a>
  </div>

  <div>
    <a href="/docs/fundamentals/routing/query-string-and-parse-parameters?name=luotao&age=18">/docs/fundamentals/routing/query-string-and-parse-parameters?name=luotao&amp;age=18</a>
  </div>

  <div>
    <a href="/docs/fundamentals/configuration/app-settings-configuration">/docs/fundamentals/configuration/app-settings-configuration</a>
  </div>

  <div>
    <a href="/docs/fundamentals/dependency-injection/default-services">/docs/fundamentals/dependency-injection/default-services</a>
  </div>
  <div>
    <a href="/docs/fundamentals/dependency-injection/use-di-in-services">/docs/fundamentals/dependency-injection/use-di-in-services</a>
  </div>

  <div>
    <a href="/docs/fundamentals/dependency-injection/utility-base-component-classes-to-manage-a-di-scope">/docs/fundamentals/dependency-injection/utility-base-component-classes-to-manage-a-di-scope</a>
  </div>

  <div>
    <a href="/docs/fundamentals/environments/set-the-environment-via-header">/docs/fundamentals/environments/set-the-environment-via-header</a>
  </div>

  <div>
    <a href="/docs/fundamentals/logging/log-in-razor-components">/docs/fundamentals/logging/log-in-razor-components</a>
  </div>
  <div>
    <a href="/docs/fundamentals/handle-errors/global-exception-handling">/docs/fundamentals/handle-errors/global-exception-handling</a>
  </div>
  <div>
    <a href="/docs/components/partial-class-support">/docs/components/partial-class-support</a>
  </div>
</fieldset>
