@page

@functions
{
    public string? Time { get; set; }

    public void OnGet()
    {
        Model.Time = DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss");
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>learning-csharp-razor</title>
</head>
<body>
HELLO, WORLD.
@Model.Time
</body>
</html>