@page

@functions
{
    public string? Time { get; set; }

    public void OnGet()
    {
        ViewData["Title"] = "learning-csharp-razor";

        Model.Time = DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss");
    }
}

<div>
    @Model.Time
</div>