@typeparam TItem;

<table>
  <thead>
    <tr>
      @TableHeader
    </tr>
  </thead>

  <tbody>
    @foreach (var item in Items ?? new List<TItem>())
    {
      <tr>
        @(RowTemplate?.Invoke(item))
      </tr>
    }
  </tbody>
</table>
