<fieldset>
  <legend>Catch-all route parameters</legend>

  {*PageRoute}: @PageRoute

  <div>
    <a href="/docs/fundamentals/routing/catch-all-route-parameters/a">/docs/fundamentals/routing/catch-all-route-parameters/a</a>
    <br>
    <a href="/docs/fundamentals/routing/catch-all-route-parameters/a/b">/docs/fundamentals/routing/catch-all-route-parameters/a/b</a>
    <br>
    <a href="/docs/fundamentals/routing/catch-all-route-parameters/a/b/c">/docs/fundamentals/routing/catch-all-route-parameters/a/b/c</a>
  </div>

</fieldset>
