<fieldset>
  <legend>Route parameters</legend>

  <div>Name: @Name</div>
  <div>Text: @Text</div>
  <div>
    Text == null: @(Text == null)
  </div>

  <div>
    <a href="/docs/fundamentals/routing/route-parameters/x">/docs/fundamentals/routing/route-parameters/x</a>
    <br>
    <a href="/docs/fundamentals/routing/route-parameters/y/111">/docs/fundamentals/routing/route-parameters/y/111</a>
    <br>
    <a href="/docs/fundamentals/routing/route-parameters/z/222">/docs/fundamentals/routing/route-parameters/z/222</a>
  </div>
</fieldset>
