<fieldset>
  <legend>Route constraints</legend>

  {Id:int}: @Id

  <div>
    <a href="/docs/fundamentals/routing/route-constraints/666">/docs/fundamentals/routing/route-constraints/666</a>
    <br>
    <a href="/docs/fundamentals/routing/route-constraints/foo">/docs/fundamentals/routing/route-constraints/foo</a>
  </div>

</fieldset>
