<ReferenceChild @ref="referenceChild"></ReferenceChild>

<div>
  <button @onclick="@(() => { referenceChild?.ChildMethod(666); })">call child component method 1</button>
</div>
<div>
  <button @onclick="OnClick02">call child component method 2</button>
</div>
