<ReferenceChild @ref="referenceChild"></ReferenceChild>

<div>
  <Button Type="primary" @onclick="@(() => { referenceChild?.ChildMethod(666); })">call child component method 1</Button>
  <Button Type="primary" @onclick="OnClick02">call child component method 2</Button>
</div>
