<fieldset>
  <legend></legend>

  <div>如何实现 DOM 事件的 preventDefault() 功能:</div>
  <div>使用 <code>@@onkeydown:preventDefault="@@true"</code></div>
  <input value="@count" type="text" @onkeydown="KeyHandler" @onkeydown:preventDefault="@true">

</fieldset>
