<div class="my-component">
  This Blazor component is defined in the <strong>learning_csharp_blazor_lib</strong> package.

  <img src="_content/Luotao.LearningCsharp.BlazorLib/avatar.jpg" style="width: 200px;height: 200px;">
</div>
